<ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link active" href="/logout">Logout</a>
    </li>
</ul>
<h1 *ngIf="currUser">Bid Now, {{currUser}}!</h1>
  <div class="row" *ngIf="products">
    <div class="col-3">
        <div class="card" >
          <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">{{products[0].prod_name}}</h4>
              <p class="card-text">{{products[0].desc}}</p>
            <div class="card-footer">
                <form (submit)="makeBid1()">
                      <div class="input-group">
                        <input min="1" type="number" class="form-control" placeholder="Place bid" [(ngModel)]="bidAmt1" name="bid1" #bid1='ngModel'>
                        <span class="input-group-btn">
                          <button class="btn btn-secondary" type="submit">Bid</button>
                        </span>
                      </div>
                </form>
              </div>
              <div class="alert alert-danger" *ngIf="lowAlert">Bid amount should be higher than the previous bid.</div>
            </div>
            <div class="alert alert-danger" *ngIf="bid1.touched && !bid1.valid">
              <div *ngIf="bid1.errors.min">Bid amount should be 1 or higher.</div>
              <!-- <div *ngIf="bid1.errors.required">Please enter your bid.</div> -->
            </div>
          </div>
      </div>
    <div class="col-3">
      <div class="card" >
          <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">{{products[1].prod_name}}</h4>
              <p class="card-text">{{products[1].desc}}</p>
              <div class="card-footer">
                <form (submit)="makeBid2()">
                      <div class="input-group">
                        <input min="1" type="number" class="form-control" placeholder="Place bid" [(ngModel)]="bidAmt2" name="bid2" #bid2='ngModel'>
                        <span class="input-group-btn">
                          <button class="btn btn-secondary" type="submit">Bid</button>
                        </span>
                      </div>
                </form>
              </div>
              <div class="alert alert-danger" *ngIf="lowAlert">Bid amount should be higher than the previous bid.</div>
            </div>
            <div class="alert alert-danger" *ngIf="bid2.touched && !bid2.valid">
                <div *ngIf="bid2.errors.min">Bid amount should be 1 or higher.</div>
                <!-- <div *ngIf="bid2.errors.required">Please enter your bid.</div> -->
              </div>
            </div>
      </div>
    <div class="col-3">           
        <div class="card" >
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">{{products[2].prod_name}}</h4>
              <p class="card-text">{{products[2].desc}}</p>
              <div class="card-footer">
                <form (submit)="makeBid3()">
                      <div class="input-group">
                        <input min="1" type="number" class="form-control" placeholder="Place bid" [(ngModel)]="bidAmt3" name="bid3" #bid3='ngModel'>
                        <span class="input-group-btn">
                          <button class="btn btn-secondary" type="submit">Bid</button>
                        </span>
                      </div>
                </form>
              </div>
              <div class="alert alert-danger" *ngIf="lowAlert">Bid amount should be higher than the previous bid.</div>              
            </div>
            <div class="alert alert-danger" *ngIf="bid3.touched && !bid3.valid">
                <div *ngIf="bid3.errors.min">Bid amount should be 1 or higher.</div>
                <!-- <div *ngIf="bid3.errors.required">Please enter your bid.</div> -->
              </div>
            </div>
      </div>
    </div>
      
    <div class="row" *ngIf="products">
      <div class="col-3">
        <div class="list-group">
          <ul *ngFor="let bid of products[0].bids" class="list-group">
              <li class="list-group-item">{{bid.name}}: ${{bid.amount}}</li>
          </ul>
        </div>
      </div>
      <div class="col-3">
        <div class="list-group">
          <ul *ngFor="let bid of products[1].bids" class="list-group">
              <li class="list-group-item">{{bid.name}}: ${{bid.amount}}</li>
          </ul>
        </div>
      </div>
      <div class="col-3">
        <div class="list-group">
          <ul *ngFor="let bid of products[2].bids" class="list-group">
              <li class="list-group-item">{{bid.name}}: ${{bid.amount}}</li>
          </ul>
        </div>
      </div>
    </div>
<div class="d-flex justify-content-end">
  <button (click)="endBid()" class="btn btn-primary " type="button">End Bid</button>
</div>