<ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link active" href="#">Logout</a>
    </li>
</ul>
<h1 *ngIf="currUser">Bid Now, {{currUser}}!</h1>
  <div class="row" *ngIf="products">
    <div class="col-3">
        <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">{{products[0].prod_name}}</h4>
              <p class="card-text">{{products[0].desc}}</p>
              <div class="card-footer">
                <form (submit)="makeBid1()">
                  
                      <div class="input-group">
                        <input type="text" class="form-control" placeholder="Place bid" [(ngModel)]="bidAmt" name="bidAmt">
                        <span class="input-group-btn">
                          <button class="btn btn-secondary" type="submit">Bid</button>
                        </span>
                      </div>
                  
                </form>
              </div>
            </div>
          </div>
    </div>